
@{
    ViewBag.Title = "Success";
}

<h2 style="color:forestgreen">Success</h2>

<Parking Location>
    Gary Hall<br />
    Forth floor <br />
    Park Slot # 42<br />
    Villanova, PA    
</Parking Location>


<p>
    @Html.ActionLink("Back to Home", "Index")

</p>

